<!-- Add a for each when we get the database setup to render the whole portfolio -->
<!-- Add crud operations to remove stocks -->
<!-- Add the ability to see the details of a stock -->

<aside id="portfolio-bar">
  <h1>My Portfolio</h1>
  <% portfolio.forEach(result => { %>
    <h3><%= result.companyName %></h3>
    <p><%= result.ticker %></p>
    <p><span class="porfolio-data">Price:</span> <%= result.price %></p>
    <p><span class="porfolio-data">Average Cost:</span> <%= result.av_cost %></p>
    <p><span class="porfolio-data">Shares Owned:</span> <%= result.shares %></p>
    <div id="btn-group">
        <a class="portfolio-btn" href="/updatePortfolio">Update</a>
        <a class='portfolio-btn' href='/deletePortfolio'>Delete</a>
    </div>
    
  <% }) %>
</aside>

