<!-- Add a for each when we get the database setup to render the whole portfolio -->
<!-- Add crud operations to remove stocks -->
<!-- Add the ability to see the details of a stock -->

<aside id="portfolio-bar">
  <h1>My Portfolio</h1>
  <hr>
  <% portfolio.forEach(result => { %>
    <h3><%= result.companyName %></h3>
    <p><%= result.ticker %></p>
    <p>Price: <%= result.price %></p>
    <p>Average Cost: <%= result.av_cost %></p>
    <p>Shares Owned: <%= result.shares %></p>
    <a class="portfolio-item" href="/updatePortfolio">Update</a>
    <a class='portfolio-item' href='/deletePortfolio'>Delete</a>
  <% }) %>
</aside>

