<!-- Add a for each when we get the database setup to render the whole portfolio -->
<!-- Add crud operations to remove stocks -->
<!-- Add the ability to see the details of a stock -->

<aside id="portfolio-bar">
  <h1>My Portfolio</h1>
  <div id='portfolio-results'>
  <% portfolio.forEach(result => { %>
    <div class='portfolio-item'>
      <h3><%= result.companyName %></h3>
      <p class='item-ticker'>Symbol:<%= result.ticker %></p>
      <p class='item-price'>Price: <%= result.price %></p>
      <p class='item-cost'>Average Cost: <%= result.av_cost %></p>
      <p class='item-shares'>Shares Owned: <%= result.shares %></p>
      <div class="btn-group">
          <a class="portfolio-btn" href="/updatePortfolio">Update</a>
          <a class='portfolio-btn' href='/deletePortfolio'>Delete</a>
      </div>  
    </div>
  <% }) %>
  </div>
</aside>

