<table id='index-table'>
  <tr>
    <th>Name</th>
    <th class='table-center'>Ticker</th>
    <th class='table-right'>Price</th>
    <th class='table-right'>P/E</th>
    <th class='table-right'>PEG</th>
    <th class='table-right'>Profit Margin</th>
    <th class='table-right'>PB</th>
    <th class='table-right'>Market Cap (in Millions)</th>
  </tr>
  <% table.forEach(stock => { %>
    <tr>
      <td> <%= stock.name %></td>
      <td class='table-center'> <%= stock.ticker %></td>
      <td class='table-right'> <%= stock.price %></td>
      <td class='table-right'> <%= stock.pe %></td>
      <td class='table-right'> <%= stock.peg %></td>
      <td class='table-right'> <%= stock.profit_margin %></td>
      <td class='table-right'> <%= stock.pb %></td>
      <td class='table-right'> <%= stock.market_cap %></td>
    </tr>
  <% }); %> 
</table>