<%- include('header'); -%>


<%- include('partials/searchbar'); -%>
<h1>This is the homepage</h1>
<div id="searchResults">
  <!-- for each result render the data -->
<ul id="renderedResult">
    <% results.forEach(result => { %>
    <li><%= result.symbol%></li>
    <li><%= result.name%></li>
    <li><%= result.price%></li>
    <li><%= result.pe%></li>
    <li><%= result.pb%></li>
</ul>
<% }) %>
</div>

