<%- include('partials/head'); -%>

<%- include('partials/header'); -%>
<%- include('partials/searchbar'); -%>
<div id="UserName">
    <form id="User-Name" action="/users" method="POST">
        <label for="users"> Enter Name
            <input type="text" name="userfield" placeholder="userName" required>
        </label>
        <input type="submit" name="submit"></input>

    </form>
<%- include('partials/table'); -%>    
<%- include('partials/portfolio'); -%>
<%- include('partials/footer'); -%>