<%- include('partials/head'); -%>
<body>
  <header>
    <%- include('partials/header'); -%>
  </header>
  <main>
    <%- include('partials/searchbar'); -%>
    <%- include('partials/portfolio'); -%>
    <%- include('partials/table'); -%>
  </main>
  <footer>
    <%- include('partials/footer'); -%>
  </footer>
</body>
  

