<%- include('partials/head'); -%>
<%- include('partials/header'); -%>

<div class="main">
  <div id="searchBar-div">
    <%- include('partials/searchbar'); -%>
  </div>

  <%- include('partials/table'); -%>
</div>
  <%- include('partials/portfolio'); -%>

<%- include('partials/footer'); -%>