<%- include('partials/head'); -%>
<%- include('partials/header'); -%>
<%- include('partials/searchbar'); -%>
<div class="main">
    <%- include('../partials/table'); -%>
  
</div>
<%- include('../partials/portfolio'); -%>

<%- include('../partials/footer'); -%>

