<%- include('../partials/head'); -%>
<%- include('../partials/header'); -%>
<%- include('../partials/searchbar'); -%>
<div class="main">
  <p>This is a section with nothing in it.</p>
  <p>This is a section with nothing in it.</p>
  <p>This is a section with nothing in it.</p>
  <p>This is a section with nothing in it.</p>
  <p>This is a section with nothing in it.</p>
  <p>This is a section with nothing in it.</p>
  <p>This is a section with nothing in it.</p>
  <p>This is a section with nothing in it.</p>
  <p>This is a section with nothing in it.</p>
  <p>This is a section with nothing in it.</p>
  <p>This is a section with nothing in it.</p>
  
</div>
<%- include('../partials/portfolio'); -%>

<%- include('../partials/footer'); -%>